:root {
  --w: 60vw;
  --min:100%;
}

.modal {
  margin-top: 10% !important;
  padding-right: 30% !important;
  width: 100 !important;
}
/* .modalDialog {
  margin: auto;
  width: 40vw;
  background-color: blue;
  overflow-x: hidden;
} */
.modalHeader {
  min-width: var(--min);
  width: var(--w);
  height: 5vh !important;
  background-color: #2e2d2d;
  color: whitesmoke;
  
}
.modalBody {
  min-width: var(--min);
  background-color: whitesmoke;
  text-align: left;
  width: var(--w);
  margin: 0 !important;
  border: solid black 2px;
}

.modalButton {
  margin-top: 5%;
  margin-left: 70%;
  margin-right: 0;
}
.modalButton Button{
  margin: 2%;
}
